.container {
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0 2.5em;
  border-radius: 50px;
  background-color: var(--primary-component-color);
}

.input {
  color: var(--primary-font-color);
  padding: 0.65em;
  background-color: var(--primary-component-color);
}
.input::placeholder {
  color: var(--primary-font-color);
}

.searchbtn {
  background-color: var(--primary-component-color);
}
