.login {
  background-color: var(--spotify-color);
  border-radius: 50px;
  border: none;
  font-family: var(--primary-font);
  font-size: 16px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "spotify text text text text";
}

.spotify {
  grid-area: spotify;
  height: 2.5em;
}

.text {
  grid-area: text;
}
