.info_container {
  margin: 3%;
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-template-rows: 0.1fr 1.9fr;
  grid-template-areas:
    "back info_title"
    "info_pic info_pic";
}
.info_title {
  color: var(--primary-font-color);
  font-weight: bold;
  padding-bottom: 1%;
  max-width: 300px;
  grid-area: info_title;
  justify-self: center;
  text-align: center;
}
.info_pic {
  border: var(--primary-component-color) 1px solid;
  border-radius: 10px;
  grid-area: info_pic;
  justify-self: center;
}
.back {
  grid-area: back;
}
