.skip {
  background-color: var(--primary-component-color);
  border-radius: 50px;
  color: var(--primary-font-color);
  display: flex;
  align-items: center;
  padding: 1em 3em 1.125em;
  margin-top: 10%;
}
